@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --kelpe-color-1: #141414;
  --kelpe-color-2: #d9d9d9;
  --kelpe-color-3: #afafaf;
  --kelpe-font: monospace;
  --kelpe-font-size: 1.5rem;
  --kelpe-font-weight: 900;
}

.kelpe {
  font-family: var(--kelpe-font);

  h1 {
    color: var(--kelpe-color-1);
    font-family: var(--kelpe-font);
  }
}
